{{define "body"}}
      <br />
      <button type="button" class="btn btn-outline-success">+ Add client</button
      ><br />
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Tax code</th>
            <th scope="col">Client type</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.Name}}</td>
            <td>{{.TaxCode}}</td>
            <td>{{.TypeName}}</td>
            <td>{{.Address}}</td>
            <td>{{.PhoneNumber}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary">
                Edit</button
              > <button type="button" class="btn btn-outline-danger">
                Delete</button
              ><br />
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
{{end}}
